<div class="content">
  <div class="card text-white bg-dark" style="width: 36rem;">
      <div class="card-body">
          <form class="row g-3" [formGroup]="countDaysForm" (ngSubmit)="save()">

              <!-- input user name -->
              <div class="form-group col-sm-5">
                  <label for="firstDate" class="visually-hidden">Primeira Data</label>
                  <input type="text" class="form-control" id="firstDate" placeholder="Data Menor"
                      formControlName="firstDate" aria-describedby="firstDate validationUserName" mask="00/00/0000"/>

                  <!-- msg de erro imput user name-->
                  <!-- <div id="validationUserName" class="invalid-feedback">
                      <span *ngIf="loginForm.controls.userName.errors?.required">Por favor insira seu nome
                          de usuário.</span>
                      <span
                          *ngIf="loginForm.get('userName')?.dirty && !loginForm.controls.userName.errors?.required">Nome
                          de usuário muito curto.</span>
                  </div> -->
              </div>

              <!-- input password  -->
              <div class="form-group col-sm-5">
                  <label for="secondDate" class="visually-hidden">Segunda Data</label>
                  <input type="text" class="form-control" id="secondDate" placeholder="Data Maior"
                      formControlName="secondDate" mask="00/00/0000">

                  <!-- msg de erro imput password-->
                  <!-- <div id="secondDate" class="invalid-feedback">
                      <span *ngIf="loginForm.controls.password.errors?.required">Por favor insira sua senha.</span>
                      <span
                          *ngIf="loginForm.get('password')?.dirty && !loginForm.controls.password.errors?.required">Senha
                          muito curta.</span>
                  </div> -->
              </div>

              <!-- <div class="form-group col-sm-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                  Hoje
                </label>
              </div> -->

              <div class="form-check form-switch col-sm-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="today" (click)="todayCheck()">
                <label class="form-check-label" for="flexSwitchCheckChecked">Hoje</label>
              </div>

              <div class="form-group col-auto">
                  <button type="submit" class="btn btn-outline-success mb-3">Confirme</button>
              </div>
          </form>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 32rem;" *ngIf="mostrarDatas" >
        <div class="card-header">Datas</div>
        <div class="card-body">
            <h5 class="card-title"> {{ dataPassadoView }} - {{ dataAtualFuturo }} </h5>
            <p class="card-text"> {{ mensagem }} </p>
        </div>
    </div>
  </div>
</div>
