.name {
    display: flex;
    color: #fff;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 10, 112);

    button {
      margin-left: 20px;
    }
}
